

.recent-posts{
    width: 90%;
    margin: 0 auto;
}

.recent{
    margin: 3em 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    color: #888;
}

.post{
    margin: 1em 0;
    padding: 1.5em 0;
    border-bottom: 1px solid #ddd;
}

.post-data{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: #888;
}

.post-title{
    color: #555;
    font-size: 25px;
    font-weight: 900;
}

.pages-control{
    margin: 0 auto;
    text-align: center;
}

.pages-control a{
    margin: 0 .5em;
    padding: 5px 10px;
    border: 1px solid #888;
    border-radius: 3px;
    transition: all .1s linear;
}

.pages-control a:hover{
    border-color: #57A3E8;
    transition: all .1s linear;
}

.social{
    margin: 1em auto;
    padding: 1em;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .recent-posts{
        width: 60%;
        margin: 0 auto;
    }    
}