
/*

    Fontes usadas:

    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;

*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto:400,900');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    width: 100%;
    max-width: 100%;
    background-color: #141414;
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-family: 'Roboto', sans-serif;
}

p{  
    font-size: 15pt;
    margin: .5em auto;
    font-family: 'Open Sans', sans-serif;
}

.heart{
    margin: 0 .3em;
    color: #e22a2a;
    font-size: 17pt !important;
}

.menu{
    z-index: 1;
    position: fixed;
    top: 0;
    left: -90%;
    width: 90%;
    height: 100%;
    color: #333;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
}

.menu p{
    width: 100%;
    padding: 1em;
    text-align: left;
    font-size: 19pt;
    border-bottom: 1px solid #141414;
}

.menu a{
    margin: .5em 1.5em;
    padding: 4px 3px;
    font-size: 14pt;
    color: #555;
    transition: all .1s linear;
}

.menu a:hover{
    text-decoration: underline;
    color: #e22a2a;
    transition: all .1s linear;
}

.header{
    width: 100%;
    text-align: center;
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
    /* cursor: default; */
}

.navbar{
    width: 100%;
    height: 4em;
    background-color: #070707;
    color: #FFFFFF;
    text-align: left;
}

#brand{
    position: absolute;
    font-size: 22pt;
    margin: .55em 2.5em;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

#news{
    position: absolute;
    margin: 3em 3.4em;
    font-size: 9pt;
    border-radius: 50%;
    background-color: red;
    color: red;
    visibility: visible;
    cursor: pointer;
}

#btn-close{
    position: absolute;
    margin: .78em;
    top: 0;
    right: 0;
    font-size: 25pt;
    font-weight: 100 !important;
    cursor: pointer;
}

#btn-open{
    position: absolute;
    margin: .55em;
    font-size: 25pt;
    font-weight: 100 !important;
    cursor: pointer;
}

.recent{
    width: 100%;
    margin: 2em 0;
}

.recent-post{
    margin: 1em;
    color: #FFF;
    font-size: 18pt;
}

.card a{
    color: #FFF;
}

.card{
    width: 98%;
    padding: 1em;
    margin: 1.4em auto;
    transition: all .2s linear;
}

.card-title{
    color: #FFF;
    transition: all .3s linear;
}

.card-title:hover{
    color: #e22a2a;
    transition: all .3s linear;
}

.tags{
    margin-top: 2em;
}

.tag{
    margin: 0 .2em;
    padding: 3px 10px;
    border: 1px solid #FFF;
    border-radius: 15px;
    color: #FFF;
    transition: all .2s linear;
}

.tag:hover{
    background-color: #FFF;
    color: #333;
    transition: all .2s linear;
}

    .footer{
        max-width: 100%;
        margin: 0 auto;
        padding: 2em;
        border-top: 1px solid #555;
        color: #fefefe;
    }

.footer a{
    color: #bbb;
}

.social{
    margin: 1em 0;
}

.social a{
    margin: 5px;
    padding: 3px;
    font-size: 20pt !important;
}

.social a:hover{
    color: #e22a2a;
}

.links{
    display: flex;
    flex-direction: column;
}



@media screen and (min-width: 768px) {
    .menu{
        width: 20%;
    }

    .card{
        width: 58%;
        padding: 1em;
        margin: 1.4em auto;
        transition: all .2s linear;
    }

    .recent-post{
        text-align: center;
    }

    .footer{
        max-width: 60%;
        margin: 0 auto;
        padding: 2em;
        border-top: 1px solid #555;
        color: #fefefe;
    }
}
  