@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto:900');

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    width: 100%;
    max-width: 100%;
    font-size: 17pt;
    font-family: 'Roboto', sans-serif;
    font-weight: 400 !important;
    background-color: #FAFAFA;
    color: #383434;
}

h1{
    font-size: 37pt !important;
    font-weight: 400 !important;
}

a, p{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 400 !important;
    color: #666;
}

a:hover{
    color: #57A3E8;
    transition: all .1s linear;
}

p{  
    color: #555;
    line-height: 25px;
    font-weight: 400 !important;
    transition: all .1s linear;
}

i {
    font-size: 27pt !important;
}

#menu{
    z-index: 2;
    position: fixed;
    top: 0;
    right: -101%;
    width: 101%;
    height: 100%;
    background-color: #fafafa;
}

#menuOpen{
    margin: 1em;
    cursor: pointer;
    color: #FFF;
    transition: all .1s linear;
}

#menuOpen:hover{
    color: #57A3E8;
    transition: all .1s linear;
}

#menuClose{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
    color: #333;
}

.menu-title{
    font-size: 25pt;
    margin: 1em;
    margin-top: 2em;
    color: #333;
}

.menu-links{
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

.menu-links a{
    font-size: 20px;
    margin: .5em 0;
    color: #333;
    transition: all .1s linear;
}

.menu-links a:hover{
    color: #57A3E8;
    transition: all .1s linear;
}

.navbar{
    z-index: 1;
    width: 100%;
    position: absolute;
    text-align: right;
    top: 0;
    color: #FFF;
}

.btnHome{
    position: absolute;
    top: 2.2em;
    right: 5.5em;
    padding: 5px 10px;
    border: 1px solid #57A3E8;
    color: #FFF;
}

.hero{
    width: 100%;
    padding: 4em 0;
    height: 45%;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #222;
    color: #FFFFFF !important;
}

.logo{
    max-width: 80px !important;
    margin: 0 auto !important;
}

.logo2{
    max-width: 250px !important;
    margin: 1em auto !important;
    margin-bottom: 0 !important;
    color: #FFFFFF !important;
}

.logo-description{
    margin: 0 !important;
    color: #fff;
}

.logo-description{
    margin: 0 !important;
}

.recent-posts{
    width: 90%;
    margin: 0 auto;
}

.recent{
    margin: 3em 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 20px;
    font-weight: 300 !important;
    color: #777;
}

.post{
    width: 98%;
    margin: 0 auto;
    padding: 1.5em 0;
    border-bottom: 1pt solid rgba(0,0,0,.2);
}

.post-data{
    margin: -.5em 0;
    font-weight: 300;
    font-size: 17px;
    color: #666;
}

.pages-control{
    margin: 1em 0 !important;
    text-align: center;
}

.pages-control a{
    margin: 0 .5em;
    padding: 5px 10px;
    border: 1px solid #888;
    border-radius: 3px;
    transition: all .1s linear;
}

.pages-control a:hover{
    border-color: #57A3E8;
    transition: all .1s linear;
}   

.social{
    margin: 1em !important;
    text-align: center;
}

.footer{
    width: 100%;
    max-width: 100%;
    padding: 1em;
    background-color: #222;
    text-align: center;
}

.footer p{
    font-size: 12pt;
    color: #FFFFFF !important;
}


@media screen and (min-width: 768px) {
    .recent-posts{
        width: 60%;
        margin: 0 auto;
    }    
}